<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Beli Reksadana</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Beli Reksadana</h1>
    <div>
        <form action="/do_belireksa/" method="POST">
            {% csrf_token %}
            <input type="text" hidden name="username" value="{{user.userName}}"> 
            <p>
                <label for="reksa_name"></label>
                <input type="text" name="reksa_name" id="name" placeholder="Nama Reksadana" required>
            </p>
            <p>
                <label for="reksa_unitPrice"></label>
                <input type="number" name="reksa_unitPrice" id="unitPrice" placeholder="Unit Price" required>
            </p>
            <p>
                <label for="reksa_unitNumber"></label>
                <input type="number" name="reksa_unitNumber" id="unitNumber" placeholder="Unit Number" required>
            </p>
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>