<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reksa Dana</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <style>
        ul>li:last-child{
            float: right;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Tabungan Reksadana</h1>
            </div>
            <div class="col-md-6">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link" href= {% url "update" user.userName %}> Update Profile </a>
                    </li>&nbsp;
                    <li class="nav-item">
                        <a class="nav-link" href= {% url "beli" user.userName %}> Beli Reksadana </a>
                    </li>&nbsp;
                    <li class="nav-item">
                        <a class="nav-link" href="/do_logout">logout</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>Profil</h3>
            </div>
        </div>
        <div class="row" align="justify">
            <div class="col-md-3">
                <p>Username : {{user.userName}}</p>
                <p>Full Name : {{user.fullName}}</p>
                <p>Address : {{user.address}}</p>
                <p>Date Registered: {{user.dateReg}}</p>
            </div>
            <div class="col-md-3">
                <p>Cash in Hand : {{cash}}</p>
                <p>Exp : {{exp}}</p>
                <p>Level : {{level}}</p>
            </div>
            <div class="col-md-6"></div>
        </div>
        <div class="row">
            <div class="col"> 
                {% if reksa %}  
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <th>Reksadana Name</th>
                            <th>Unit Price</th>
                            <th>Unit Number</th>
                        </thead>
                        {% for item in reksa %}
                        <tr>
                            <td>{{item.name}}</td>
                            <td>{{item.price}}</td>
                            <td>{{item.unitNumber}}</td>
                            <td><a href= {% url "sell" item.id %}> Sell </a> </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>      
                
                {% else %}
                <p>No reksadana</p>
                {% endif %}
                   
            </div>
        </div>         
    </div>
</body>
</html>
