<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reksa Dana</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
</head>
<body>
    <div>
        <h1>Tabungan Reksadana</h1>
        <p>Profil: </p>
        <p>username: {{user.userName}}</p>
        <p>full name: {{user.fullName}}</p>
        <p>address: {{user.address}}</p>
        <p>date registered: {{user.dateReg}}</p>
        <p>cash in hand: {{cash}}</p>
        <p>exp: {{exp}}</p>
        <p>level: {{level}}</p>
        {% if reksa %}        
        <table border="1px solid black">
            <tr>
                <td>Name</td>
                <td>price</td>
                <td>unit number</td>
                <td></td>
            </tr>
            {% for item in reksa %}
            <tr>
                <td>{{item.name}}</td>
                <td>{{item.price}}</td>
                <td>{{item.unitNumber}}</td>
                <td><a href= {% url "sell" item.id %}> Sell </a> </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>No reksadana</p>
        {% endif %}
        <p><a href="/do_logout">logout</a></p>
        <p><a href= {% url "update" user.userName %}> Update </a></p>        
    </div>
</body>
</html>
